@import "tailwindcss";

@theme {
  --font-Base: "Noto Sans", sans-serif;
  --color-yellow-strong: #ffab08;
  --color-orange: #ff7020;
  --color-black: #000;
  --color-gray-lght: #f9f9f9;
  --color-gray-medium: #f2f2f3;
  --color-gray-txt: #b1b1b1;
  --breakpoint-max: 1440px;
}

.custom-clip {
  clip-path: ellipse(100% 90% at 50% 10%);
}

.active {
  background-color: #ffab08;
}
